<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet" />

    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>D3.js example in Flask</h1>
    <div id="d3" class="container"></div>
    <p>This example is based in part on the <a href='http://bl.ocks.org/mbostock/3808234'>General Update Transitions demo.<a></p>
  </body>

  <script src="static/d3-demo.js" type="text/javascript"></script>
</html>